body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-btn{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}
.btn-group-one{
    width: 250px;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly
}
button{
    width: 85px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: red;
}
p{
    font-size: 30px;
    font-weight: bold;
    /* width: 30px;
    height: 30px; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.p{
    width: 250px;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-btn{
    width: 250px;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset-btn button{
    width: 85px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}